= RL-Library $LANGUAGE$ Version of $PROJECTTITLE$ =

For full details, please visit:
[$HOMEURL$]

Download Link: [$FILELINK$ $FILENAME$] [$FILEDETAILSLINK$ (Details)]

This project is licensed under the Apache 2.0 License.
See LICENSE.txt for details.

